/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";

* {
}

body {
  background-color: #F0E6BB;
}

h1, h2 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.header {
  margin-bottom: 2%;
  padding: 10px;
  border-bottom: 2px solid #8A8770;
}
a.index:hover {
  text-decoration: none;
  color: black;
  border: none;
  font-weight: bolder;
}

a.nav-link {
  color: black;
}

a.nav-link:hover {
  color: black;
  border: none;
  font-weight: bolder;
}

.navbar {
  background-color: #60BC98;
}

.pending {
  margin-top: 2% auto;
  padding: 10px;
  border: 4px dotted #DD4126;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

.index {
  padding: 10px;
  margin: 2%;
  color: #202724;
}

a:hover {
  color: white;
  border: 2px solid #8A8770;
}

.form-control {
  margin: 5px;
  margin-top: 10px;
}

.form-label {
  font-weight: bold;
  margin-top: 15px;
}

form.btn {
  margin: 5px;
}

.edit {
  background-color: #60BC98;
  padding: 5px;
  border-radius: 3px;
  color: black;
}

.delete {
  background-color: #202724;
  padding: 5px;
  border-radius: 3px;
  color: #60BC98;
}

.pet {
  border: dotted 4px #DD4126;
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
}

.btn{
  background-color: #60BC98;
  margin: 10px;
}

.btn:hover{
  color: white;
  border: 2px solid #8A8770;
}

.submit {
  border-top: 2px solid #8A8770;
  margin: 4% auto;
  padding: 5px;
}

.submit h2 {
  margin: 10px auto;
  text-align: center;
  display: block;
  border-top: none;
}

.bottom {
  align-items: flex-end;
}

 h4 a {
  color: black;
}

h4 a:hover {
  font-weight: bolder;
  border: none;
  color: black;
}

h3 a {
 color: black;
}

h3 a:hover {
 font-weight: bolder;
 border: none;
 color: black;
}


.pending h3 {
  text-align: center;
  margin: 1% auto;
  padding: 10px;
}
